###################################################
# auth0-util environment vars
###################################################

name="credit-check"

id="<CLIENT-ID>"
secret="<CLIENT-SECRET>"

url="https://<DOMAIN>/oauth/token"

jwksuri="https://<DOMAIN>/.well-known/jwks.json"
audience="<IDENTIFIER>"
issuer="<DOMAIN>"

### EOF
